<!DOCTYPE html>
<html>
  <head>
    <title>Trix - upload image on Copy-Paste</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script type="text/javascript">
      window.authenticity_token = '<%= form_authenticity_token %>';
    </script>
  </head>

  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
